In [1]:
import pandas as pd

from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

In [2]:
dbname = 'cluj'
engine = create_engine('postgres://%s:%s@localhost/%s'%('docker','docker',dbname))

if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

True

In [17]:
sql = """
    SELECT * FROM matchup_results WHERE matchup_period = 16
"""

In [18]:
matchup_results = pd.read_sql(sql, engine)
matchup_results.shape

(12, 19)

In [29]:
#matchup_results.head()

In [40]:
sql = """
    SELECT * FROM predictions WHERE matchupperiod = 16
"""

In [41]:
predictions = pd.read_sql(sql, engine)
predictions.shape

(84, 12)

In [42]:
#predictions.head()

In [47]:
teamdId = 3
mr_select = matchup_results.loc[matchup_results.team == teamdId]
pr_select = predictions.loc[predictions.team == teamdId]
#mr_select

In [48]:
pr_select

,assists,blocks,fg_pct,ft_pct,points,rebounds,steals,threes,team,date,matchupperiod,days_to_end
2,686,383,755,425,913,593,264,419,3,2020-02-04,16,5
11,655,599,617,534,909,704,227,439,3,2020-02-03,16,6
26,939,401,618,653,956,768,661,363,3,2020-02-05,16,4
38,1000,442,584,555,997,987,866,400,3,2020-02-06,16,3
50,1000,442,569,325,987,993,915,182,3,2020-02-07,16,2
62,1000,491,618,167,1000,1000,998,254,3,2020-02-08,16,1
74,1000,731,720,130,1000,999,981,51,3,2020-02-09,16,0

In [49]:
ast_result = (mr_select.asts.values[0] > mr_select.opp_asts.values[0]) * 1
reb_result = (mr_select.rebs.values[0] > mr_select.opp_rebs.values[0]) * 1
pts_result = (mr_select.pts.values[0] > mr_select.opp_pts.values[0]) * 1
stls_result = (mr_select.stls.values[0] > mr_select.opp_stls.values[0]) * 1
blks_result = (mr_select.blks.values[0] > mr_select.opp_blks.values[0]) * 1
threes_result = (mr_select.threes.values[0] > mr_select.opp_threes.values[0]) * 1
fg_result = (mr_select.fg_pct.values[0] > mr_select.opp_fg_pct.values[0]) * 1
ft_result = (mr_select.ft_pct.values[0] > mr_select.opp_ft_pct.values[0]) * 1
ast_result, reb_result, pts_result, stls_result, blks_result, threes_result, fg_result, ft_result

(1, 1, 1, 1, 1, 0, 0, 0)