In [1]:
import os
import pandas as pd

from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

from secrets import *

In [2]:
dbname = 'cluj'
username = AUTH['db_user']
password = AUTH['db_pass']

engine = create_engine('postgres://%s:%s@localhost/%s'%(username,password,dbname))

if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

True

In [3]:
# read in https://docs.google.com/spreadsheets/d/1jXd9YpdW4S-aAL4m4tmiEj_ecZOvbJyY8H13K3JD1z8/edit#gid=0
#data = pd.read_csv('/Users/codyschank/Downloads/cluj team ids - Sheet1.csv')

In [3]:
#data = pd.read_csv('/Users/codyschank/Downloads/cluj matchup end dates - Sheet1.csv')

In [4]:
#data.head()

   matchup_period   end_date
0              14  2020-1-26
1              15   2020-2-2
2              16   2020-2-9
3              17  2020-2-23
4              18   2020-3-1

In [5]:
#data.to_sql('matchup_end_dates', con=engine, if_exists='replace', index=False)

In [5]:
data = pd.read_csv('/Users/codyschank/Downloads/player name comparison - espn_names.csv.csv')

In [6]:
data.head()

  boxscore_name         espn_name
0   James Ennis   James Ennis III
1  Nikola Jokić      Nikola Jokic
2  Juwan Morgan               NaN
3  Tim Hardaway  Tim Hardaway Jr.
4  Jalen Lecque               NaN

In [7]:
data.to_sql('player_name_comparison', con=engine, if_exists='replace', index=False)