In [12]:
import pandas as pd

from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

from secrets import *

In [8]:
dbname = 'cluj'
username = AUTH['db_user']
password = AUTH['db_pass']

engine = create_engine('postgres://%s:%s@localhost/%s'%(username,password,dbname))

if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

True

In [13]:
# read in https://docs.google.com/spreadsheets/d/1jXd9YpdW4S-aAL4m4tmiEj_ecZOvbJyY8H13K3JD1z8/edit#gid=0
data = pd.read_csv('/Users/codyschank/Downloads/cluj team ids - Sheet1.csv')

In [14]:
data.head()

   espn_team_id team_abbreviation  team_name          scraped_name
0             1               ATL      Hawks         ATLANTA_HAWKS
1             2               BOS    Celtics        BOSTON_CELTICS
2             3               NOR   Pelicans  NEW_ORLEANS_PELICANS
3             4               CHI      Bulls         CHICAGO_BULLS
4             5               CLE  Cavaliers   CLEVELAND_CAVALIERS

In [15]:
data.to_sql('espn_team_ids', con=engine, if_exists='replace', index=False)